.ruby {
  display: none;
}

.python{
  display: none;
}

.csharp {
  display: none;
}

body {
  background-color: #38369A;
}
p, h2, h3 {
  color:white;
}
.form {
  background-color: #A9DBBB;
  box-sizing: border-box;
  
}

.form select {
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
  border-radius:  10px;
}

label {
  margin-bottom: 30px;
  margin-right:5px;
  margin-left:30px;
}
